<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大事件-列表页</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div class="header">
    <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
    <div class="search_form fl">
      <input type="text" class="search_txt" placeholder="黑洞照片">
      <button class="search_btn"><i class="fa fa-search"></i></button>
    </div>
    <div class="link_info fr">
      <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
      <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
    </div>
  </div>

  <div class="menu_con">
    <div class="menu">
      <div class="menu_collapse fl">
        <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
        <ul class="level_two" id="level_two_menu">
          <li class="up"></li>
        </ul>
      </div>
      <ul class="left_menu fl" id="left_menu">
      </ul>
      <ul class="right_menu fr">
        <li><a href="#">科技专题</a></li>
        <li><a href="#">财经专题</a></li>
      </ul>
    </div>
  </div>

  <div class="main_con clearfix">
    <div class="left_con setfr">

      <div class="list_title">
        <h3 id="cateName"></h3>
      </div>

      <div id="last">
        <!-- 用来存储文章列表 -->
      </div>


      <!-- 用来分页 -->
      <ul id="pagination" class="pagination-sm"></ul>


    </div>
    <div class="right_con setfl">
      <div class="common_wrap">
        <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
        <ul class="content_list" id="rank">

        </ul>
      </div>
      <div class="common_wrap">
        <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
        <ul class="content_list comment_list">
          <li>
            <span>山</span>
            <b><em>山治</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
          </li>
          <li>
            <span>丽</span>
            <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
            <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
          </li>
          <li>
            <span>R</span>
            <b><em>Rechael</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
          </li>
          <li>
            <span>J</span>
            <b><em>John</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
          </li>
          <li>
            <span>段</span>
            <b><em>段正淳</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
          </li>
          <li>
            <span>乔</span>
            <b><em>乔峰</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
          </li>
        </ul>
      </div>
      <div class="common_wrap">
        <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
        <ul class="content_list guanzhu_list">
          <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
          <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer clearfix">
    <div class="foot_link">
      <a href="#">关于我们</a>
      <span>|</span>
      <a href="#">联系我们</a>
      <span>|</span>
      <a href="#">招聘人才</a>
      <span>|</span>
      <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
    <p>电话：0755-****888 粤ICP备*******8号</p>
  </div>

</body>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.twbsPagination.js"></script>
<script src="./js/template-web.js"></script>
<script src="./js/util/config.js"></script>
<script src="./js/util/category.js"></script>
<script src="./js/util/article.js"></script>

<!-- 定义文章类型的模板引擎 -->
<script id="temp" type="text/html">
  {{each data item}} {{if item.id == curId}}
  <li class="cur"><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
  {{else}}
  <li><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
  {{/if}} {{/each}}
</script>

<!-- 最新资讯模板引擎 -->
<script id="temp_last" type="text/html">
  {{each data item}}
  <div class="common_news_list">
    <a href="#" class="list_pic"><img src="{{item.cover}}" alt=""></a>
    <h4><a href="#">{{item.title}}</a></h4>
    <p>{{item.content}}</p>
    <div class="new_info">
      <span>标签：{{item.type}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;
                阅读({{item.read}})&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( {{item.comment}} )</span>
      <b>发布于 {{item.data}}</b>
    </div>
  </div>
  {{/each}}
</script>

<!-- 热门排行 -->
<script id="temp_rank" type="text/html">
  {{each data item idx}} {{if idx==0}}
  <li><span class="first">{{idx+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
  {{else if idx==1}}
  <li><span class="second">{{idx+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
  {{else if idx==2}}
  <li><span class="third">{{idx+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
  {{else}}
  <li><span>{{idx+1}}</span><a href="./article.html?id={{item.id}}">{{item.title}}</a></li>
  {{/if}} {{/each}}
</script>

<script>
  // 获取文章的id
  var id = window.location.search.substr(4)

  // 高亮显示所选标题
  category.get().then((res) => {
    // console.log(res);
    res.curId = id;
    var htmlStr = template("temp", res)
    $("#left_menu").html(htmlStr)
    $("#level_two_menu").append(htmlStr)

    //列表页标题
    res.data.forEach((item) => {
      if (item.id == id) {
        $("#cateName").html(item.name)
      }
    })
  })

  //   列表页详细信息
  var curPage = 1
  getAndShow();

  function getAndShow() {
    article.getList(id, curPage).then((res) => {
      var htmlStr = template("temp_last", res)
      console.log(htmlStr);
      $("#last").html(htmlStr)
        //   分页
        // 优化：小于一页不分页
      if (res.pages <= 1) {
        return
      }
      $('#pagination').twbsPagination({
        // 插件初始时，不要触发第一次click事件
        initiateStartPageClick: false,

        totalPages: res.pages, // 总页数
        visiblePages: 6, // 可见页数
        first: '首页',
        prev: '上一页',
        next: '下一页',
        last: '尾页',
        onPageClick: (event, page) => {
          curPage = page
          getAndShow();
        }
      });
    })
  }

  // 显示热门排行
  article.getRank(id).then((res) => {
    if (res.code === 200) {
      var htmlStr = template("temp_rank", res)
      $("#rank").html(htmlStr)
    } else {
      alert(res.msg)
    }
  })
</script>


</html>